*{
    font-family: 'Roboto', sans-serif;
}

body{
    justify-content: center;
    align-content: center;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.2s;
}
