@media only screen and (min-width: 64rem){
    nav button {display: none;}

    nav ul#primaryNav{
        display: flex;
        margin-left: 1vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

    main{
        grid-template-rows: auto;
        grid-template-columns: 1fr 3fr 1fr;
    }

    main section:nth-of-type(1){
        grid-row: 2/4;
        grid-column: 2/3;
    } /*Hero Call to action*/

    main section:nth-of-type(2){
        grid-row: 2/3;
        grid-column: 1/2;
    } /*Featured Event Section*/

    main section:nth-of-type(3){
        grid-row: 3/4;
        grid-column: 1/2;
    } /*Weather*/

    main section:nth-of-type(4){
        grid-row: 4/5;
        grid-column: 1/2;
    } /*Join*/

    main section:nth-of-type(5){
        grid-row: 4/5;
        grid-column: 2/4;
    } /*News Release*/

    main section:nth-of-type(6){
        grid-row: 2/3;
        grid-column: 3/4;
    }

    main section:nth-of-type(7){
        grid-row: 3/4;
        grid-column: 3/4;
    }

    main picture.heroImage{
        grid-column: 1/4;
        grid-row: 1/2;
        margin: auto;
    }

    main section figure#daet-weather{
        margin: auto;
        width: 100%;
    }

    main section figure#spotlight1 img{
        width: 100px;
    }

    main section figure#daetBanner img{
        object-fit: contain;
    }

    main.join{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    main.join h2{
        grid-column: 1/3;
    }

    main.join section.membershipLvl{
        height: 50%;
    }

    main.directory div#list table tbody tr td{
        display: table-cell;
        padding: 10px;
        width: calc(100%/4);
    }

    main.directory div#grid.grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main.directory div#grid.grid section:nth-child(3){
        grid-column: 3/4;
        grid-row: 1/2;
    }
    main.directory div#grid.grid section:nth-child(4){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    main.directory div#grid.grid section:nth-child(5){
        grid-column: 2/3;
        grid-row: 2/3;
    }
    main.directory div#grid.grid section:nth-child(6){
        grid-column: 3/4;
        grid-row: 2/3;
    }
    main.directory div#grid.grid section:nth-child(7){
        grid-column: 1/2;
        grid-row: 3/4;
    }
    main.directory div#grid.grid section:nth-child(8){
        grid-column: 2/3;
        grid-row: 3/4;
    }
    main.directory div#grid.grid section:nth-child(9){
        grid-column: 3/4;
        grid-row: 3/4;
    }
    main.directory div#grid.grid section:nth-child(10){
        grid-column: 1/2;
        grid-row: 4/5;
    }
    main.directory div#grid.grid section:nth-child(11){
        grid-column: 2/3;
        grid-row: 4/5;
    }
    main.directory div#grid.grid section:nth-child(12){
        grid-column: 3/4;
        grid-row: 4/5;
    }

    main.directory div#grid.grid section, main.directory div#grid.grid section a{
        font-size: 1rem;
    }

 }