@media only screen and (min-width: 35rem){

    main .joinSection{
        display:block;
    }
    
    main.home{
        display: grid;
        grid-row-gap: 10px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
    }

    main h1{
        grid-row: 1/2;
        grid-column: 1/3;
    }

    main section:nth-of-type(1){
        grid-row: 2/3;
        grid-column: 1/3;
    }

    main section:nth-of-type(5){
        grid-row: 3/4;
        grid-column: 1/3;
    }

    main section:nth-of-type(6){
        grid-row: 4/5;
        grid-column: 1/2;
    }

    main section:nth-of-type(7){
        grid-row: 4/5;
        grid-column: 2/3;
    }

    main section:nth-of-type(4){
        grid-row: 5/6;
        grid-column: 1/3;
    }

    main section.joinSection button.btn{
        margin-top: 10px;
    }

    main picture.heroImage{
        grid-column: 1/3;
        margin: auto;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        text-align: left;
    }

    footer img{
        grid-row: 1/4;
        grid-column: 1/2;
    }

    footer h2{
        grid-row: 2/3;
        grid-column: 2/3;
        margin-top: 1rem;
    }

    footer p{
        grid-row: 3/4;
        grid-column: 2/3;
    }

    footer a:nth-of-type(1){
        grid-row: 1/2;
        grid-column: 3/4;
    }

    footer a:nth-of-type(2){
        grid-row: 2/3;
        grid-column: 3/4;
    }

    footer a:nth-of-type(3){
        grid-row: 3/4;
        grid-column: 3/4;
    }

    footer div{
        grid-row: 4/5;
        grid-column: 1/4;
        text-align: center;
    }

    footer hr{
        display: none;
    }

    /*DISCOVERY*/

    body main.main_discovery{
        display: block;
    }

    main section.discover_1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    main section.discover_1 div{
        margin: auto;
        padding-right: 2rem;
    }

    main section.discover_1 picture.position_left{
        grid-column: 1/2;
    }

    main section.discover_1 picture.position_right{
        grid-column: 2/3;
    }

    main section.discover_1 div.position_left{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    main section.discover_1 div.position_right{
        grid-column: 2/3;
    }

    main section.discover_1 picture img:hover{
        box-shadow: 0 0 50px #333;
    }

    main section.discover_1 picture img{
        width: 80%;
    }

}