@media only screen and (min-width: 35rem){

    main .joinSection{
        display:block;
    }
    
    main{
        display: grid;
        grid-row-gap: 10px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
    }

    main h1{
        grid-row: 1/2;
        grid-column: 1/3;
    }

    main section:nth-of-type(1){
        grid-row: 2/3;
        grid-column: 1/3;
    }

    main section:nth-of-type(5){
        grid-row: 3/4;
        grid-column: 1/3;
    }

    main section:nth-of-type(6){
        grid-row: 4/5;
        grid-column: 1/2;
    }

    main section:nth-of-type(7){
        grid-row: 4/5;
        grid-column: 2/3;
    }

    main section:nth-of-type(4){
        grid-row: 5/6;
        grid-column: 1/3;
    }

    main section.joinSection button.btn{
        margin-top: 10px;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        text-align: left;
    }

    footer img{
        grid-row: 1/4;
        grid-column: 1/2;
    }

    footer h2{
        grid-row: 2/3;
        grid-column: 2/3;
        margin-top: 1rem;
    }

    footer p{
        grid-row: 3/4;
        grid-column: 2/3;
    }

    footer a:nth-of-type(1){
        grid-row: 1/2;
        grid-column: 3/4;
    }

    footer a:nth-of-type(2){
        grid-row: 2/3;
        grid-column: 3/4;
    }

    footer a:nth-of-type(3){
        grid-row: 3/4;
        grid-column: 3/4;
    }

    footer div{
        grid-row: 4/5;
        grid-column: 1/4;
        text-align: center;
    }

    footer hr{
        display: none;
    }
}