* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*Heading Typography*/
h1, h2, h3, h4{
    font-family: 'Balsamiq Sans', cursive;
}

/*BODY*/
body {
    font-size:  16px;
    font-family: 'Raleway', sans-serif;
    margin: 1rem;
}

/*HEADER*/
header{
    padding: 0.5rem 2%;

}

header img{
    width: 100px;
    float: left;
    margin-right: 15px;

}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

header h2 {
    font-size: 1rem;
    margin-top: 0;
}

/*Header Current Date*/

header div {
    margin: auto;
    width: 100%;
    background-color:#64E9EE;
    padding: 10px;
    text-align: center;
    clear: left;
}

/*Header NAVIGATION*/

header nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}

header nav {
    background-color: #093A3E;
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,.5);
}

header nav ul li.active a {
    background-color: #64E9EE;
    color: black;
}
header nav ul li a:hover {
    background-color: #97C8EB;
    color: #093A3E;
}

/*HAMBURGER MENU BUTTON*/

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*MAIN*/

div#message {
    margin: 10px;
    background-color: #97C8EB;
    border-top: 5px solid #093A3E;
    border-bottom: 5px solid #093A3E;
}

div.showme{
    display: block;
}

div.hideme{
    display: none;
}

main{

    padding: 1em 0em;
    margin: auto 1rem;
    font-size: 1em;
}

main section {
    background-color: #97C8EB;
    text-align: center;
}

main .joinSection{
    display: none;
}

main section figure#pinyasan img{
    width: 100px;
}

main section figure#daetBanner{
    padding: 0;
    margin: 0;
}

main section figure#daetBanner img{
    width: 100%;
}

#hero-section{
    background-color: rgba(255, 255, 255, 0.836);
    width: 80%;
    position: absolute;
    top: 60px;
    right: 50px;
    box-shadow: 5px 5px #093A3E;
}

.btn{
    background-color: #64E9EE;
    border-radius: 10px;
    padding: .5rem;
    margin-bottom: 1rem;
}

main section:nth-of-type(1){
    position: relative;
} /*Hero Call to action*/

main section figure#daet-weather img{
    width: 100%;
}

main section figure#spotlight2{
    margin: 0;
}

main section figure#spotlight2 img{
    width: 100%;
}

main section figure#spotlight1 img{
    width: 40%;
}

hr{
    height: 2px;
    width: 80%;
    background-color: white;
    border: none;
}

main section a{
    text-decoration: none;
}

main picture.heroImage img{
    width: 100%;
}

main section figure.wind-icon{
    max-width: 100px;
    margin: auto;
}

main section p span#temp, span#speed{
    font-size: 2rem;
}

main section p#chill{
    font-size: 1.5rem;
}

main section.weather p{
    margin:0;
}
/*FOOTER*/
footer{
    
    background-color: #3AAFB9;
    text-align: center;
}

footer img{
    width: 100px;
    display: block;
    margin: auto;
}

footer h2{
    font-size: 1.5rem;
    margin-bottom: 0;
}

footer p{
    font-size: 1rem;
    margin-top: 0;
}

footer a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: black;
}
footer div{
    margin: 10px;
}
