* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;
}

section {
    border-radius: 10px;
    border: 5px solid #093A3E;
}


p{
    margin: 10px;
}

/*Heading Typography*/
h1, h2, h3, h4{
    font-family: 'Balsamiq Sans', cursive;
}

h1{
    font-size: 4vw;
}

/*BODY*/
body {
    font-size:  16px;
    font-family: 'Raleway', sans-serif;
    margin: 1rem;
}

/*HEADER*/

header img{
    width: 100px;
    float: left;
    margin-right: 15px;

}

header h1 {
    margin-bottom: 0;
}

header h2 {
    font-size: 1rem;
    margin-top: 0;
}

/*Header Current Date*/

header div {
    margin: auto;
    width: 100%;
    background-color:#64E9EE;
    padding: 10px;
    text-align: center;
    clear: left;
}

/*Header NAVIGATION*/

header nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}

header nav {
    background-color: #093A3E;
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,.5);
}

header nav ul li.active a {
    background-color: #64E9EE;
    color: black;
}
header nav ul li a:hover {
    background-color: #97C8EB;
    color: #093A3E;
}

/*HAMBURGER MENU BUTTON*/

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*MAIN*/

div#message {
    margin: 10px;
    background-color: #97C8EB;
    border-top: 5px solid #093A3E;
    border-bottom: 5px solid #093A3E;
}

div.showme{
    display: block;
}

div.hideme{
    display: none;
}

main{

    padding: 1em 0em;
    margin: auto;
    width: 90%;
}

main section {
    background-color: #97C8EB;
    text-align: center;
    margin: 5px;
}

main .joinSection{
    display: none;
}

main section figure#pinyasan img{
    width: 100px;
}

main section figure#daetBanner{
    padding: 0;
    margin: 0;
    height: 80%;
}

main section figure#daetBanner img{
    width: 80%;
}

#hero-section{
    background-color: rgba(255, 255, 255, 0.836);
    width: 80%;
    position: absolute;
    top: 30px;
    right: 30px;
    box-shadow: 5px 5px #093A3E;
}

.btn{
    background-color: #64E9EE;
    border-radius: 10px;
    padding: .5rem;
    margin-bottom: 1rem;
}

main section:nth-of-type(1){
    position: relative;
} /*Hero Call to action*/

main section.weather figure.wind-icon img{
    width: 100%;
}

main section figure#spotlight2{
    margin: 0;
}

main section figure#spotlight2 img#spot2Img{
    width: 80%;
    max-width: 150px;
}

main section figure#spotlight1 img#spot1Img{
    width: 80%;
    max-width: 150px;
}

main section.event h2, .event h3, .event p, .event h4{
    margin: 5px;
}

main section.event p{
    margin-bottom: 10px;
}

hr{
    height: 2px;
    width: 80%;
    background-color: white;
    border: none;
}

main section a{
    text-decoration: none;
}

main picture.heroImage img{
    width: 100%;
}

main section figure.wind-icon{
    max-width: 150px;
    margin: auto;
}


main section p span#temp, span#speed{
    font-size: 2rem;
}

main section p#chill{
    font-size: 1.5rem;
}

main section.weather h3{
    margin-bottom: 0;
}

main.join h2{
    text-align: center;
}

main.join section form{
    text-align: left;
}

main.join section form fieldset{
    margin: 2rem 10px;
    border: 1px solid #093A3E;
    border-radius: 10px;
    padding: 1rem 2%;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: .5rem .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

form label.top input, form label.top select, textarea{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.01);
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn{
    border: none;
    background-color: #093a3e;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 80%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

::placeholder{
    color: gray;
}

form fieldset label span{
    font-size: .7rem;
}

main.join section.membershipLvl h3{
    margin-bottom: 0px;
}

main.join section.membershipLvl p{
    margin: 0 1rem .5rem 1rem;
    padding-bottom: .5rem;
}


/*FOOTER*/
footer{
    
    background-color: #3AAFB9;
    text-align: center;
}

footer img{
    width: 100px;
    display: block;
    margin: auto;
}

footer h2{
    font-size: 1.5rem;
    margin-bottom: 0;
}

footer p{
    font-size: 1rem;
    margin-top: 0;
}

footer a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: black;
}
footer div{
    margin: 10px;
}


/*DISCOVERY*/
main section.discover_1 picture img{
    margin-top: 10px;
    filter: blur(0em);
}

main section.discover_1 p{
    padding: 0 10px 10px 10px;
}

main section.discover_1 picture img[data-src] {
    filter: blur(0.2em);
}

main.main_discovery section picture img{
    margin: 10px;
    width: 80%;
}


/*DIRECTORY*/

main.directory button#displayGridList{
    border: none;
    background-color: #093a3e;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 10rem;
}

main.directory div#grid{display: none;}
main.directory div#grid.grid{display: block;}

main.directory div#list{display: block;}
main.directory div#list.list{display: none;}

main.directory button#displayGridList span:nth-child(1) {display: block;}
main.directory button#displayGridList span:nth-child(2) {display: none;}

main.directory button#displayGridList.open span:nth-child(1) {display: none;}
main.directory button#displayGridList.open span:nth-child(2) {display: block;}

main.directory div#grid section{
    border: 1px solid #093A3E;
    margin: 10px;
    padding: 2px;
    border-radius: 10px;
}

main.directory div#grid section img{
    max-width: 200px;
    width: 80%;
    padding-top: 10px;
}

main.directory div#grid section h2{
    margin: 10px 0 0 0;
}

main.directory div#grid section p{
    margin: 0;
}

main.directory div#list{
    width: 100%;
}

main.directory div#list table {
    margin: 10px auto;
    border: thin solid #484349;
    box-shadow: 0 0 50px rgb(89, 90, 105);
    width: 100%;
}

main.directory div#list table tbody tr td{
    display: flex;
    width: 100%;
    padding-left: 2rem;
    margin: auto;
}

main.directory div#list table tbody tr td:nth-child(1){
    font-size: 1.5rem;
    font-family: 'Balsamiq Sans', cursive;
    padding-top: 10px;
}
main.directory div#list table tbody tr td a{
    text-decoration: none;
    color: black;
}

main.directory div#list table tbody tr td a:hover{
    background-color: #64E9EE;
    color: #093A3E;
}

main.directory div#list table:hover{
    box-shadow: 8px 10px 10px #484349;
}

main.directory div#grid section:hover{
    box-shadow: 0 0 50px rgb(89, 90, 105);
}

main.directory div#list table:nth-child(even){
    background-color: #97C8EB;
}

main.directory div#grid section a:hover{
    background-color: #64E9EE;
    color: #093A3E;
}

/* CONTACT US */

main.contact section form{
    text-align: left;
}

main.contact section form fieldset{
    margin: 2rem 10px;
    border: 1px solid #093A3E;
    border-radius: 10px;
    padding: 1rem 2%;
}

main.contact form input.submitBtn{
    border: none;
    background-color: #093a3e;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 10px 0 2rem 2%;
    width: 80%;
    max-width: 20rem;
}
