* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
:root {
    --primary-color: #E9ECEF;
    --secondary-color: #FFFFFF;
    --tertiary-color: #020100;
    --accent1-color: #959799;
    --accent2-color: #4C4E4E;
    
        /* Color combination possible

        #959799 and #020100

        #E9ECEF and #020100	

        #4C4E4E and #E9ECEF

        #4C4E4E and #FFFFFF
        */
  }

/* BODY */
body{
    background-color: var(--accent1-color);
    font-family: 'Nunito', sans-serif;;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER STYLE */

img.logo{
    display: block;
    width: 40%;
    margin: 10px auto;
    border-radius: 25px 0 25px 0;
    box-shadow: 0px 0px 5px 3px var(--accent2-color);
    max-width: 200px;
}

header nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--accent2-color);
    text-align: left;
}

header nav{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color:#020100;
    border-top: 1px solid var(--accent2-color);
}

header nav ul li.active a {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

header nav ul li a:hover {
    background-color: var(--accent1-color);
    color: white;
}

header nav ul li:last-of-type{
    border-bottom: 1px solid var(--accent2-color);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

header div.social a img{
    width: 40px;
    margin: 1px 5px;
}

header div.social{
    justify-self: right;
}


/* HOME */
main.home section.hero div.hero-img img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: bottom;
}

main.home section.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main.home section.hero div.hero-img{
    grid-column: 1/4;
    grid-row: 1/5;
}

main.home section.hero div.hero-btn{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: center;
}

main.home section.hero div.hero-btn{
    margin: auto;
    font-size: 1.5rem;
}

main.home section.hero div.hero-header{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
    font-size: 2vw;
    
}

main.home section.hero div.hero-btn button{
    background: rgba(149, 151, 153, .9);
    color: var(--secondary-color);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
}

main.home section.hero div.hero-btn button:hover, main.home section.hero div.hero-btn button:focus{
    background:rgba(76, 78, 78,1) ;
    color: var(--primary-color);
}

main.home section.content, .card-temple, .heading{
    margin: 15px auto 0 auto;
    background: var(--primary-color);
    padding: 1rem;
    border: 1px solid var(--accent2-color);
    box-shadow: 0 2px 5px 0 var(--tertiary-color);
    text-align: center;
    width: 100%;
}

main.home section.contact div.contact-wrapper img{
    display: block;
    width: 50px;
    margin: auto;
}


main.home section.contact div.contact-wrapper h2{
    margin-bottom: 15px;
}

main.home section.temple-card div.temple-card-image, .temple-card2-image, .card-temple{
    overflow: hidden;
}

main.home section.temple-card, main.home section.temple-card2, .card-temple, .reception-section{
    padding: 0;
}

.hide{
    display: none;
}

main.home section.temple-card div.temple-card-image>img, .temple-card2-image>img, .card-temple>img{
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.temple h3{
    border: 3px solid var(--tertiary-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

main.home section.temple-card div.temple-card-body p{
    padding-bottom: 10px;
}

.current-weather>img{
    background-color: var(--accent1-color);
    border-radius: 50px;
}

.threeDay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.threeDay>h2{
    grid-column: 1/4;
}

.weather-container1{
    grid-column: 1/2;
}

.weather-container2{
    grid-column: 2/3;
}

.weather-container3{
    grid-column: 3/4;
}

.weather-condition{
    border: 1px solid black;
    height: 80%;
}

img.icon-pl{
    width: 100%;
    max-width: 100px;
    background-color: var(--accent1-color);
    border-radius: 50px;
    margin-top: 10px;
}

.heading{
    text-align: center;
    background-color: var(--primary-color);
    max-width: 700px;
}

div.grid-section, #temple-section, #reservation-section, section.service-content {
    padding: 10px;
}


form#reservation-form{
    width: 100%;
}

main.services-body section.service-content{
    margin: 15px auto 0 auto;
    background: var(--primary-color);
    padding: 1rem;
    border: 1px solid var(--accent2-color);
    box-shadow: 0 2px 5px 0 var(--tertiary-color);
    width: 100%;
}

main.services-body section.service-content{
    max-width: 500px;
}

main.services-body, main.reception-body, main.missionary-body{
    margin: 10px;
}

.reception-section, .basic, .delux{
    margin: 15px auto 0 auto;
    background: var(--primary-color);
    border: 1px solid var(--accent2-color);
    box-shadow: 0 2px 5px 0 var(--tertiary-color);
    width: 100%;
}

.reception-section .div-image>img, .basic>img, .delux>img{
    width: 100%;
    display: block;
}

.div-header, .div-content, .missionary-section-content{
    padding: 1rem;
}

.div-header, .div-content{
    text-align: center;
}

.missonary-image>img{
    width: 100%;
    display: block;
    
}

.missonary-image{
    margin: 0 auto;
    max-width: 700px;
}

.basic, .delux{
    max-width: 400px;
}

/* FOOTER */
footer{
    margin-top: 10px;
    border-top: 45px solid var(--primary-color);
}

.footer{
    margin: 10px auto;
    width: 70%;
}

.footer-form{
    width: 100%;
}

.footer-form>form label.top, label.top{
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

form label.top input, textarea, select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 40rem;
    background-color: var(--primary-color);
}

form{
    margin: 1.75rem auto;
    background-color: white;
    padding: 5px;
}

.footer-form>form{
    max-width: 300px;
}

legend{
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

form label.top input:required, select.top:required{
    border-left: red solid 3px;
}

form label.top input:required:valid, select.top:required:valid {
    border-left: green solid 3px;
}

.submitBtn{
    margin: 10px auto;
    background: rgba(76, 78, 78,1);
    color: var(--primary-color);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

input.middle{
    display: block;
}

#reservation-form fieldset{
    margin: 20px auto;
}

.footer-contact-info{
    text-align: center;
}

.footer-contact-info>p:nth-child(1){
    margin-top: 20px;
}

.footer-contact-info>p{
    padding: 0;
    margin: 5px auto;
    color: var(--tertiary-color);
}

.footer-contact-info a img{
    width: 20%;
    max-width: 60px;
}

.page-update{

    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

div.like>button{
    background: rgba(76, 78, 78,1);
    color: var(--primary-color);
    border-radius: 2px;
    padding: 1rem;
    box-shadow: 0 2px 5px 0 var(--tertiary-color);
}

div.null>button{
    margin: 10px auto;
    border: 0;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 var(--tertiary-color);
}

div.null>button:hover{
    background-color: var(--accent1-color);
}

.card-temple>a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.card-temple a>span{
    color: blue;
}
.card-temple a>span:hover{
    background: rgba(76, 78, 78,1);
    color: var(--primary-color);
}

.card-temple>p{
    margin: 5px 10px;
    padding: 2px;
    text-align: left;
}

.more-details>p, .more-details>ul, .show{
    text-align: left;
    margin: 1em;
}

#dropDown{
    margin: 10px auto;
    border: 0;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 var(--tertiary-color);
}


div#manila {display: none;}
div#cebu {display: none;}
div#kona {display: none;}
div#arequipa {display: none;}
div#manila.show {display: block;}
div#cebu.show {display: block;}
div#kona.show {display: block;}
div#arequipa.show {display: block;}

#manila-btn #dropDown span:nth-child(1) {display: block;}
#manila-btn #dropDown  span:nth-child(2) {display: none;}

#manila-btn.more #dropDown span:nth-child(1) {display: none;}
#manila-btn.more #dropDown span:nth-child(2) {display: block;}

#cebu-btn #dropDown span:nth-child(1) {display: block;}
#cebu-btn #dropDown  span:nth-child(2) {display: none;}

#cebu-btn.more #dropDown span:nth-child(1) {display: none;}
#cebu-btn.more #dropDown span:nth-child(2) {display: block;}

#kona-btn #dropDown span:nth-child(1) {display: block;}
#kona-btn #dropDown  span:nth-child(2) {display: none;}

#kona-btn.more #dropDown span:nth-child(1) {display: none;}
#kona-btn.more #dropDown span:nth-child(2) {display: block;}

#arequipa-btn #dropDown span:nth-child(1) {display: block;}
#arequipa-btn #dropDown  span:nth-child(2) {display: none;}

#arequipa-btn.more #dropDown span:nth-child(1) {display: none;}
#arequipa-btn.more #dropDown span:nth-child(2) {display: block;}

.google-map{
    color: #020100;
}