* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :root {
    /* change the values below to your colors from your palette */
    --primary-color: #E9ECEF;
    --secondary-color: #FFFFFF;
    --tertiary-color: #020100;
    --accent1-color: #959799;
    --accent2-color: #4C4E4E;
    
        /* Color combination possible

        #959799 and #020100

        #E9ECEF and #020100	

        #4C4E4E and #E9ECEF

        #4C4E4E and #FFFFFF
        */
  }

/* BODY */
body{
    background-color: var(--accent1-color);
    font-family: 'Nunito', sans-serif;;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER STYLE */

header a img.logo{
    display: block;
    width: 40%;
    margin: 10px auto;
    border-radius: 25px 0 25px 0;
    box-shadow: 0px 0px 5px 3px var(--accent2-color);
}

header nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--accent2-color);
    text-align: left;
}

header nav{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

header nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color:#020100;
    border-top: 1px solid var(--accent2-color);
}

header nav ul li.active a {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

header nav ul li a:hover {
    background-color: var(--accent1-color);
    color: white;
}

header nav ul li:last-of-type{
    border-bottom: 1px solid var(--accent2-color);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

header div.social a img{
    width: 40px;
    margin: 1px 5px;
}

header div.social{
    justify-self: right;
}


/* HOME */
main.home section.hero div.hero-img img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: bottom;
}

main.home section.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main.home section.hero div.hero-img{
    grid-column: 1/4;
    grid-row: 1/4;
}

main.home section.hero div.hero-btn{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
}

main.home section.hero div.hero-btn{
    margin: auto;
    font-size: 2rem;
}

main.home section.hero div.hero-header{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    font-size: .75rem;
    
}

main.home section.hero div.hero-btn button{
    background: rgba(76, 78, 78, .75);
    border: 3px solid var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 2px 6px black;
    font-family: 'Montserrat', sans-serif;
}

main.home section.hero div.hero-btn button:hover, main.home section.hero div.hero-btn button:focus{
    background: rgba(149, 151, 153, .9);
    color: var(--tertiary-color);
    border: 3px solid var(--secondary-color);
}


main.home section.content{
    max-width: 250px;
    margin: auto;
    background: var(--primary-color);
    padding: 1rem;
    border: 1px solid var(--accent2-color);
    border: none;
    box-shadow: 0 2px 5px 0 var(--tertiary-color);
}

main.home section.contact div.contact-wrapper img{
    display: block;
    width: 50px;
    margin: auto;
}

main.home section.contact div.contact-wrapper p, main.home section.contact div.contact-wrapper h2{
    text-align: center;
    margin: 5px;
}

main.home section.contact div.contact-wrapper h2{
    margin-bottom: 15px;
}

main.home section.temple-card div.temple-card-image{
    overflow: hidden;
}

main.home section.temple-card{
    padding: 0;
    margin-top: 15px;
}

main.home section.temple-card div.temple-card-image>img{
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

main.home section.temple-card div.temple-card-header h3, main.home section.temple-card div.temple-card-body p{
    margin: 5px;
    text-align: center;
}

main.home section.temple-card div.temple-card-header h3{
    border: 3px solid var(--tertiary-color);
    border-radius: 5px;
    margin: 10px;
}

main.home section.temple-card div.temple-card-header{
    padding: 10px;
}

main.home section.temple-card div.temple-card-body p
{
    font-size: .9rem;
}
main.home section.temple-card div.temple-card-body p{
    padding-bottom: 10px;
}
