* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*Heading Typography*/
h1, h2, h3, h4{
    font-family: 'Balsamiq Sans', cursive;
}

/*BODY*/
body {
    font-size:  16px;
    font-family: 'Raleway', sans-serif;
    margin: 1rem;
}

/*HEADER*/
header, footer {
    padding: 0.5rem 2%;
    background-color: #3AAFB9;
    color: white;
}

header img {  display: block; margin-left: auto; margin-right: auto; width: 75px;}
header h1 {margin: 0; font-size: 1.3rem; text-align: center; color: #001011;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem; text-align: center; color: #001011;}

/*NAVIGATION*/
nav {
    background-color: #093A3E;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: white;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #97C8EB;
    color: #093A3E;
}

nav ul li.active a {
    background-color: #64E9EE;
    color: black;
}

/*MAIN*/

main {
    padding: 0 2%;
    min-height: 10rem;
}

.index h2, .index p{
    text-align: center;
}

main div{
    text-align: center;
    margin-bottom: 20px;
}

main div a{
    background-color: #093A3E;
    color: white;
    text-decoration: none;
    padding: .5rem;
}

main div a:hover{
    background-color: #97C8EB;
    color: #093A3E;
}


/*Color Scheme*/

.color-scheme h2{
    text-align: center;
}

.color-scheme ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.color-scheme ul li:nth-child(1){
    background-color:#001011;
    color: white;
    padding: 1rem;
} 

.color-scheme ul li:nth-child(2){
    background-color: #093A3E;
    color: white;
    padding: 1rem;
}

.color-scheme ul li:nth-child(3){
    background-color: #97c8eb;
    color: black;
    padding: 1rem;
}

.color-scheme ul li:nth-child(4){
    background-color: #3AAFB9;
    color: black;
    padding: 1rem;
}

.color-scheme ul li:nth-child(5){
    background-color: #64e9ee;
    color: black;
    padding: 1rem;
}


/*Typography*/
.typography-h2, .typography-p, .audience h2, .audience p{
    text-align: center;
}

/*Target Audience*/


.audience h4{
    text-align: left;
}

/*FOOTER*/
footer{
    padding: 1rem 2%;
    text-align: center;
}


/*Clearfix: Force an Element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }